src/conf/xml-resources/web-service-references/FutbolService/wsdl/localhost_8080/CasoFutbol-SMSService/FutbolService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.ulima.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ulima.edu/">

<xs:element name="confirmado" type="tns:confirmado"/>

<xs:element name="confirmadoResponse" type="tns:confirmadoResponse"/>

<xs:element name="notificacion" type="tns:notificacion"/>

<xs:element name="notificacionResponse" type="tns:notificacionResponse"/>

<xs:element name="rechazo" type="tns:rechazo"/>

<xs:element name="rechazoResponse" type="tns:rechazoResponse"/>

<xs:complexType name="rechazo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechazoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmado">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notificacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>