web/WEB-INF/wsdl/localhost_8080/CasoFutbol-SMSService/FutbolService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ulima.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ulima.edu/" name="FutbolService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ulima.edu/" schemaLocation="http://localhost:8080/CasoFutbol-SMSService/FutbolService?xsd=1"/>
</xsd:schema>
</types>
<message name="notificacion">
<part name="parameters" element="tns:notificacion"/>
</message>
<message name="notificacionResponse">
<part name="parameters" element="tns:notificacionResponse"/>
</message>
<message name="rechazo">
<part name="parameters" element="tns:rechazo"/>
</message>
<message name="rechazoResponse">
<part name="parameters" element="tns:rechazoResponse"/>
</message>
<message name="confirmado">
<part name="parameters" element="tns:confirmado"/>
</message>
<message name="confirmadoResponse">
<part name="parameters" element="tns:confirmadoResponse"/>
</message>
<portType name="FutbolService">
<operation name="notificacion">
<input wsam:Action="http://ws.ulima.edu/FutbolService/notificacionRequest" message="tns:notificacion"/>
<output wsam:Action="http://ws.ulima.edu/FutbolService/notificacionResponse" message="tns:notificacionResponse"/>
</operation>
<operation name="rechazo">
<input wsam:Action="http://ws.ulima.edu/FutbolService/rechazoRequest" message="tns:rechazo"/>
<output wsam:Action="http://ws.ulima.edu/FutbolService/rechazoResponse" message="tns:rechazoResponse"/>
</operation>
<operation name="confirmado">
<input wsam:Action="http://ws.ulima.edu/FutbolService/confirmadoRequest" message="tns:confirmado"/>
<output wsam:Action="http://ws.ulima.edu/FutbolService/confirmadoResponse" message="tns:confirmadoResponse"/>
</operation>
</portType>
<binding name="FutbolServicePortBinding" type="tns:FutbolService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="notificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rechazo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FutbolService">
<port name="FutbolServicePort" binding="tns:FutbolServicePortBinding">
<soap:address location="http://localhost:8080/CasoFutbol-SMSService/FutbolService"/>
</port>
</service>
</definitions>